html, body, div, p, span, ul, li, ol, table, tr, td, th, i, em, b, a, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}
body {
  position: relative;
  color: #555555;
}

ul {
  list-style-type: none;
}

.v-touch-ripple {
  width: 100%;
  height: 100%;
}

.mu-table-body-wrapper {
  overflow: hidden;
}
$theme-color: #ff9800;
$theme-color-hover: rgba(255, 152, 0, 0.8);

.mu-input__focus {
  color: #ff7420;
}

body {
  background: #fafafa;
}
#app {

}

.login {
  width: 100%;
  height: 100vh;
  min-width: 800px;
  min-height: 500px;
  position: relative;
  background-image: url("/images/login-bg.jpg");
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;

  .login-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 500px;
    background: #ffffff;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0 0 2px 2px #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .login-content-logo {
      width: 40%;
      text-align: center;
      font-size: 28px;
      color: #ff8a4c;
    }

    .login-content-division {
      width: 1px;
      height: 86%;
      background: #e4e4e4;
    }

    .login-content-input {
      width: 60%;
      padding: 0 20px 0 46px;
      .l-title {
        font-size: 26px;
        margin-bottom: 24px;
        position: relative;
        &:after {
          content: '';
          width: 32px;
          height: 4px;
          display: inline-block;
          background: $theme-color;
          position: absolute;
          bottom: -4px;
          left: 0;
          z-index: -1;
        }
      }
      .l-input {
        width: 90%;
      }

      .l-button {
        width: 372px;
        cursor: pointer;
        font-size: 16px;
        color: #ffffff;
        background: $theme-color-hover;
        height: 42px;
        text-align: center;
        line-height: 42px;
        border-radius: 21px;
        margin-top: 16px;
        box-shadow: 1px 2px 1px 1px #eeeeee;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        &:hover {
          background: $theme-color;
        }
      }
      .l-button-load {
        cursor:not-allowed; // 跟禁止点击事件冲突
        width: 372px;
        font-size: 16px;
        color: #ffffff;
        background: $theme-color-hover;
        height: 42px;
        text-align: center;
        line-height: 42px;
        border-radius: 21px;
        margin-top: 16px;
        box-shadow: 1px 2px 1px 1px #eeeeee;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        user-select: none;
      }
      .l-other {
        width: 90%;
        margin-top: 12px;
        .l-other-title {
          margin-top: 32px;
          text-align: center;
          font-size: 14px;
          color: #a9a9a9;
          position: relative;
          height: 24px;
          line-height: 24px;
          span {
            z-index: 1;
            background: #ffffff;
            padding: 0 12px;
          }
          &:after {
            z-index: -1;
            width: 100%;
            content: '';
            position: absolute;
            top: 11px;
            left: 0;
            border-top: 1px solid #a9a9a9;
          }
        }
        .l-other-nav {
          display: flex;
          width: 40%;
          margin: 24px auto 0;
          justify-content: space-between;
          li {
            i {
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              .nav1 {
                &:hover {
                  fill: $theme-color;
                }
              }
              .nav2 {
                &:hover {
                  fill: #4bae6d;
                }
              }
              .nav3 {
                &:hover {
                  fill: #3f7dfe;
                }
              }
            }
          }
        }
      }
    }

  }
}


.home {

  .home-main-head {
    position: fixed;
    width: 100%;
    height: 102px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    padding-left: 220px;
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
    .home-main-head-nav {
      width: 100%;
      height: 64px;
      display: flex;
      justify-content: flex-end;
      border-bottom: 1px solid #f0f0f0;
      .home-main-head-nav-content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        .home-main-head-nav-content-switch {
          padding: 0 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          color: #474747;
          cursor: pointer;
          i {
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            font-size: 26px;
          }
        }
        .home-main-head-nav-content-right {
          display: flex;
          padding-right: 26px;
          .home-main-head-nav-content-right-notice {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            padding: 0 10px;
            i {
              width: 30px;
              height: 30px;
              text-align: center;
              line-height: 30px;
              font-size: 24px;
            }
          }
          .home-main-head-nav-content-right-lock-screen {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            padding: 0 10px;
            i {
              width: 30px;
              height: 30px;
              text-align: center;
              line-height: 30px;
              font-size: 24px;
            }
          }
          .home-main-head-nav-content-right-full-screen {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            padding: 0 10px;
            i {
              width: 30px;
              height: 30px;
              text-align: center;
              line-height: 30px;
              font-size: 28px;
            }
          }
          .home-main-head-nav-content-right-user {
            .home-main-head-nav-content-right-user-box {
              display: flex;
              height: 64px;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              .home-main-head-nav-content-right-user-box-name {
                margin-left: 6px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 100px;
              }
            }
          }
        }
      }
    }
    .home-main-head-menu {
      width: 100%;
      height: 38px;
      display: flex;
      justify-content: flex-end;
      .home-main-head-menu-content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 0 20px;
        .home-main-head-menu-content-item {
          height: 100%;
          line-height: 40px;
          cursor: pointer;
          padding: 0 50px 0 18px;
          font-size: 14px;
          border-radius: 2px;
          position: relative;
          .home-main-head-menu-content-item-close {
            position: absolute;
            top: 0;
            right: 18px;
            width: 26px;
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
            i {
              font-size: 16px;
            }
          }
        }
        .home-main-head-menu-content-item-select {
          color: #4bae6d;
          border-bottom: 2px solid #4bae6d;
        }
      }
    }
  }

  .home-main-head-nav-content-right-user-nav {
    padding: 12px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    i {
      color: #555555;
    }
    span {
      font-size: 14px;
      color: #555555;
      margin-left: 6px;
    }
  }

  .home-main-menu {
    background-color: #20222a;
    color: #ffffff;
    .home-main-menu-top {
      color: #ffffff;
      height: 64px;
      position: relative;
      overflow: hidden;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
      a {
        font-size: 16px;
        background-color: #20222a;
        color: rgba(255, 255, 255, 0.7);
        transition: all .45s cubic-bezier(.23,1,.32,1);
      }
      .home-main-menu-top-open {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .home-main-menu-top-fold {
        position: absolute;
        top: 50%;
        left: calc(50% + 220px);
        transform: translate(-50%, -50%);
      }
    }

    .home-main-menu-list {
      user-select: none;
      .home-main-menu-list-item {
        padding: 0 24px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: start;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.7);
        position: relative;
        &:hover {
          color: rgba(255, 255, 255, 1);
        }
        .home-main-menu-list-item-ico {
          font-size: 18px;
          width: 30px;
          height: 30px;
          text-align: center;
          line-height: 30px;
        }
        .home-main-menu-list-item-txt {
          font-size: 14px;
          margin-left: 16px;
          white-space: nowrap;
          overflow: hidden;
        }
        .home-main-menu-list-item-arrow {
          position: absolute;
          top: 20px;
          right: 24px;
          font-size: 16px;
        }
      }
      .home-main-menu-list-item-select {
        color: #ff9800;
        &:hover {
          color: #ff9800;
        }
      }
      .home-main-menu-list-children {
        .home-main-menu-list-children-item {
          padding: 0 24px 0 50px;
          height: 56px;
          display: flex;
          align-items: center;
          justify-content: start;
          cursor: pointer;
          color: rgba(255, 255, 255, 0.7);
          position: relative;
          &:hover {
            color: rgba(255, 255, 255, 1);
          }
          .home-main-menu-list-children-item-ico {
            font-size: 18px;
          }
          .home-main-menu-list-children-item-txt {
            font-size: 14px;
            margin-left: 16px;
          }
        }
        .home-main-menu-list-children-item-select {
          color: #ff9800;
          &:hover {
            color: #ff9800;
          }
        }
      }
      .home-main-menu-list-children-popup {
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 300000000;
        .home-main-menu-list-children-popup-content {
          margin-left: 8px;
          background: #20222a;
          border-radius: 4px;
          padding: 8px 10px 8px 6px;
          .home-main-menu-list-children-popup-content-item {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 12px 16px;
            .home-main-menu-list-children-popup-content-item-ico {
              font-size: 16px;
            }
            .home-main-menu-list-children-popup-content-item-txt {
              font-size: 14px;
              margin-left: 10px;
              white-space: nowrap;
            }
          }
          .home-main-menu-list-children-popup-content-item-select {
            color: #ff9800;
            &:hover {
              color: #ff9800;
            }
          }
        }
      }
    }

    .home-main-menu-bottom {
      font-size: 12px;
      line-height: 1.65;
      padding: 24px 20px;
      color: rgba(255, 255, 255, 0.7);
      background-color: #20222a;
    }
  }

  .home-main-content {
    width: 100%;
    height: 100vh;
    padding: 118px 16px 16px 236px;
    transition: all .45s cubic-bezier(.23,1,.32,1);
    .home-main-content-route {
      width: 100%;
      height: 100%;
      border-radius: 6px;
      background-color: #ffffff;
      overflow: auto;
    }
  }

}


















.jurisdiction-interface {
  padding: 24px;
  .jurisdiction-interface-head {
    display: flex;
    justify-content: flex-start;
    .jurisdiction-interface-head-button {
      height: 36px;
      width: 80px;
      margin: 26px 0 0 32px;
      background-color: #2196f3;
      cursor: pointer;
      color: #ffffff;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    }
  }
  .jurisdiction-interface-bottom {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
    .mu-pagination-item {
      box-shadow: none;
    }
    .mu-pagination-btn {
      box-shadow: none;
    }
  }
}


//
.base-route {
  padding: 16px;
  .base-route-head {
    display: flex;
    justify-content: flex-start;
    .base-route-button {
      height: 36px;
      width: 80px;
      margin: 26px 0 0 32px;
      background-color: #2196f3;
      cursor: pointer;
      color: #ffffff;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    }
  }
  .base-route-bottom {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    .mu-pagination-item {
      box-shadow: none;
    }
    .mu-pagination-btn {
      box-shadow: none;
    }
  }
}

// 用户的管理
.user-manage {

}














// 表格的 CSS 修改
.mu-table-body-wrapper {
  table {
    tr {
      height: 36px;
      td {
        min-height: 36px;
        line-height: 1.2;
        padding: 0 6px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
.mu-table-header-wrapper {
  table {
    tr {
      height: 48px;
      th {
        height: 48px;
        min-height: 36px;
        line-height: 1.2;
        padding: 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}















.lock-screen {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000000;
  background-image: url("/images/lock_screen_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  .lock-screen-content {
    background: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 4px 2px #e5e5e5;
    border-radius: 4px;
    padding: 24px 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .lock-screen-button {
      background: $theme-color;
      border: none;
      color: #ffffff;
      width: 80px;
      height: 32px;
      outline: none;
      cursor: pointer;
      border-radius: 4px;
      line-height: 32px;
      font-size: 14px;
    }
  }
}


.view-tool {
  padding: 18px;
  .view-tool-title {
    font-size: 22px;
    font-weight: 600;
  }
  .view-tool-create {
    margin-top: 24px;
    display: flex;
    align-items: center;
    .view-tool-create-select {
      width: 220px;
    }
    .view-tool-create-button {
      width: 80px;
      height: 32px;
      cursor: pointer;
      background: $theme-color;
      margin-left: 12px;
      line-height: 32px;
      text-align: center;
      color: #ffffff;
      border-radius: 4px;
    }
  }
  .view-tool-create-box {
    width: 100%;
    border: 1px solid #eaeaea;
    padding: 20px;
    .view-tool-create-box-title {
      font-size: 14px;
    }
  }
  .view-tool-update-box {
    width: 100%;
    border: 1px solid #eaeaea;
    padding: 20px;
    margin-top: 20px;
    .view-tool-update-box-title {
      font-size: 14px;
    }
    .view-tool-update-button {
      width: 80px;
      height: 32px;
      cursor: pointer;
      background: $theme-color;
      margin-left: 12px;
      line-height: 32px;
      text-align: center;
      color: #ffffff;
      border-radius: 4px;
    }
  }
}


.exhibition {
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0) !important;
}


.tool-time-timer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .tool-time-timer-content {
    font-size: 100px;
  }
}

.tool-time-count-down {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .tool-time-count-down-content {
    font-size: 100px;
  }
}


@font-face {
  font-family: 'Digital2';
  src: url('/font/Digital2.ttf');
}

.tool-blood-trough {
  width: 762px;
  height: 300px;
  position: relative;
  z-index: 1;
  .tool-blood-trough-bg {
    width: 762px;
    height: 300px;
    background-size: 762px 300px;
    background-image: url("/images/blood_trough.png");
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .tool-blood-trough-num {
    position: absolute;
    width: 100px;
    height: 90px;
    top: 192px;
    left: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 90px;
    font-size: 56px;
    z-index: 3;
    font-family: Digital2, serif;
  }
  .tool-blood-trough-box {
    position: absolute;
    width: 518px;
    height: 76px;
    top: 218px;
    left: 200px;
    font-size: 46px;
    z-index: 1;
  }
}
